#keyboard { 
    color : white ; 
    margin : 0 auto ; 
    background : #dacc3e ; 
    width : fit-content ;
    padding : 20px ; 
    margin-top: 30vh ;  
} 


.keys { 
    width : 50px ; 
    height : 40px;  
    background : rgb(125, 21, 56); 
    outline : none ; 
    border : none ; 
    color : white ; 
    margin : 0 auto ;
}

.keys:hover { 
    background : rgba(125,21,56,.75) ;
    transition : .5s ease-in ;  
    cursor : pointer ;
}

.keys.biggerKeys { 
    width : 100px ; 
}

.row { 
    margin : 5px 0 ; 
    text-align: center;
}

.spacebar {
    width: 250px ;
}

#display { 
    width : 100% ; 
    min-height : 50px ; 
    background : black  ;
    text-align: left ; 
    padding : 15px 15px ; 

}

.copy-clear { 
    text-align: right ;
}

.copy-clear > button { 
    background : black ; 
    padding : 10px  ; 
    outline : none ; 
    border : none ; 
    color : white ; 
    cursor : pointer ; 
}

.copy-clear > button:hover { 
    background : rgba(0,0,0,0.85) ;
    transition: all .5s ease-in-out; 
}

.subOperands{ 
    color : black ;
    margin-left: 2px ; 
    
}

.material-icons.menu-icon {
    font-size: 12px;
    color : white
}